* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/mountains-universe-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  --white: #ffffff;
  --gray-50: #c4c4cc;
  --blue-100: #02799d;

  font-family: "Roboto";
  font-style: normal;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;

  padding-left: 4.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  gap: 2rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navigation {
  display: flex;
  gap: 2rem;
}

a {
  appearance: none;
  text-decoration: none;
  color: var(--gray-50);

  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: fit-content;
  gap: 1rem;
}

.title-home {
  color: var(--gray-50);
  font-weight: 700;
  font-size: 3rem;
  line-height: 125%;
}

.button-about {
  padding: 0.75rem 2rem;
  background: transparent;
  border: 2px solid var(--white);
  border-radius: 5px;

  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5rem;

  text-align: center;
  text-transform: uppercase;

  color: var(--white);
  cursor: pointer;
}

.button-about:hover {
  background-color: var(--white);
  color: var(--blue-100);

  transition: background-color 0.5s ease, color 0.5s ease;
}
